@media (max-width: 1390px) {
  .skills-inner {
    display: block;
  }
  .skills-title {
    text-align: center;
  }
  .skills-text {
    width: 100%;
    padding-right: 0;
    padding-bottom: 48px;
  }
  .skills-right {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1280px) {
  .project-subtitle {
    font-size: 45px;
    line-height: 55px;
    max-width: 500px;
  }
  .project-link {
    right: 200px;
  }
  .testimonials-title {
    max-width: 95%;
  }
  .testimonials-text {
    max-width: 95%;
  }
  .testimonials-block__bottom {
    padding: 24px;
  }
  .callback {
    padding: 180px 0;
  }
}

@media (max-width: 1160px) {
  .main-info {
    max-width: 600px;
  }
  .main-title {
    font-size: 60px;
    line-height: 62px;
  }
  .main-title span {
    max-width: 100%;
  }
  .project-subtitle {
    font-size: 40px;
    line-height: 50px;
    max-width: 400px;
  }
  .project-link {
    right: 150px;
  }
  .drible {
    padding: 80px 50px;
  }
  .testimonials {
    padding: 80px 0;
  }
  .photography {
    padding: 80px 0;
  }
}

@media (max-width: 1024px) {
  .testimonials-block {
    margin-bottom: 64px;
  }
  .photography-box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .callback-text {
    width: 426px;
  }
}

/**
*============ 970px =============
**/
@media (max-width: 970px) {
  .main-info {
    max-width: 500px;
    margin-top: 55px;
  }
  .main-title {
    margin-top: 0;
  }
  .skills-right {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .skills-block {
    max-width: 284px;
  }
  .project-subtitle {
    font-size: 38px;
    line-height: 48px;
    max-width: 400px;
  }
}

@media (max-width: 947px) {
  .philosophy {
    display: inline-block;
  }
  .philosophy-left,
  .philosophy-right {
    width: 100%;
  }
  .philosophy-left {
    padding: 80px 0;
  }
  .philosophy-text {
    padding-bottom: 67px;
  }
  .philosophy-image img {
    height: auto;
  }
}

@media (max-width: 900px) {
  .project-box {
    display: block;
  }
  .project-block {
    padding-right: 0;
    max-width: 100%;
  }
  .project-block__image {
    width: 100%;
  }
  .project-block:nth-child(even) {
    top: 0;
    padding-bottom: 24px;
  }
  .project-link {
    display: none;
  }
  .callback {
    padding: 80px 0;
  }
  .callback-text {
    width: 332px;
  }
}

/**
*============ 850px =============
**/
@media (max-width: 850px) {
  .main-info {
    right: 0;
  }
}

/**
*============ TABLET 768px =============
**/
@media (max-width: 768px) {
  .container {
    padding: 0 40px;
  }
  .main-wrapper {
    display: none;
  }
  .main-info {
    max-width: 400px;
    padding-right: 40px;
  }
  .main-title {
    font-size: 56px;
    line-height: 67px;
  }
  .experience {
    margin: 80px 0;
  }
  .skills-right {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .skills-block {
    max-width: 284px;
  }
  .links {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .links-block {
    width: 49.333333%;
  }
  .drible {
    padding: 80px 0;
  }
  .testimonials-title {
    font-size: 50px;
    line-height: 55px;
  }
  .photography-box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 720px) {
  .skills-right {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .skills-block {
    padding-right: 15px;
  }
  .drible-text {
    width: 100%;
  }
  .photography-box__item {
    margin: 0 12px 24px;
  }
}

@media (max-width: 740px) {
  .photography-box__item:nth-child(even) {
    margin-right: 0;
  }
}

/**
*============ 690px =============
**/
@media (max-width: 690px) {
  .navbar {
    display: none;
  }
  .menu-burger {
    display: block;
    min-width: 18px;
    height: 11px;
    position: relative;
  }
  .menu-burger::before, .menu-burger::after {
    content: "";
    height: 3px;
    background-color: #c4c4c4;
    position: absolute;
    right: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .menu-burger::before {
    top: 0;
    width: 100%;
  }
  .menu-burger::after {
    bottom: 0;
    width: 13px;
  }
  .menu-burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 6px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .menu-burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    width: 100%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    bottom: 2px;
  }
  .navbar.active {
    display: block;
    position: absolute;
    right: 45px;
    top: 52px;
    background-color: #5221e6;
    padding: 20px;
  }
  .navbar.active .menu-list {
    display: block;
  }
  .navbar.active .menu-list__link {
    padding: 0;
  }
  .navbar.active .menu-list__item {
    margin-bottom: 20px;
  }
  .philosophy-left {
    padding: 40px 0;
  }
  .philosophy-title {
    font-size: 32px;
    line-height: 38px;
  }
  .testimonials-title {
    font-size: 45px;
    line-height: 50px;
  }
  .photography-box__item {
    margin-right: 0;
  }
}

@media (max-width: 665px) {
  .skills-block {
    padding-right: 0;
  }
  .callback-inner {
    display: block;
  }
  .callback-right {
    width: 100%;
  }
  .callback-text {
    width: 100%;
    margin-bottom: 48px;
  }
}

@media (max-width: 625px) {
  .testimonials {
    padding: 40px 0;
  }
  .testimonials-inner {
    display: block;
  }
  .testimonials-link {
    display: inline-block;
    margin-bottom: 64px;
  }
  .testimonials-left {
    margin: 0 auto;
    width: 100%;
  }
  .testimonials-title {
    max-width: 100%;
  }
  .testimonials-text {
    max-width: 100%;
  }
  .testimonials-right {
    width: 100%;
  }
  .testimonials-block {
    width: 100%;
  }
}

/**
*============ 600px =============
**/
@media (max-width: 600px) {
  .main-title {
    text-align: right;
  }
  .experience-box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .experience-company {
    max-width: 100%;
  }
  .experience-block {
    padding-bottom: 40px;
  }
  .experience-block:last-child {
    padding-bottom: 0;
  }
}

@media (max-width: 540px) {
  .photography-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 40px;
  }
}

/**
*=============MOBILE--426px ============================
**/
@media (max-width: 426px) {
  .container {
    padding: 0 20px;
  }
  .main {
    margin-bottom: 48px;
  }
  .header {
    top: 24px;
  }
  .main-inner {
    top: 45px;
    padding-right: unset;
  }
  .main-info {
    position: relative;
    padding: 48px 20px;
    margin-top: 0;
  }
  .main-image {
    padding-top: 24px;
    left: unset;
  }
  .main-image img {
    min-width: 100%;
  }
  .main-title {
    text-align: left;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 16px;
  }
  .experience {
    margin: 80px 0;
  }
  .experience-title {
    font-size: 32px;
    line-height: 38px;
  }
  .philosophy-text {
    padding-bottom: 94px;
  }
  .skills {
    padding-top: 72px;
  }
  .skills-right {
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .skills-block:last-child {
    padding-bottom: 0;
  }
  .project {
    padding: 64px 0;
  }
  .drible {
    padding: 64px 0;
  }
  .drible-link {
    margin-bottom: 64px;
  }
  .photography {
    padding: 48px 0;
  }
  .photography-title {
    font-size: 32px;
    line-height: 38px;
  }
  .photography-text {
    margin-bottom: 40px;
  }
  .photography-list__item + .photography-list__item {
    margin: 0;
  }
  .photography-list__item {
    width: 148px;
    height: 51px;
  }
  .photography-list__item:nth-child(odd) {
    margin: 0 24px 24px 0;
  }
  .photography-list__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    padding: 0;
  }
  .photography-box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .photography-box__item {
    margin-left: 0;
  }
  .callback {
    padding: 48px 0;
  }
  .callback-title {
    font-size: 32px;
    line-height: 38px;
  }
}

@media (max-width: 377px) {
  .photography-list__item:nth-child(odd) {
    margin: 0;
  }
  .photography-list {
    row-gap: 20px;
  }
}

@media (max-width: 320px) {
  .photography-list__item {
    width: 125px;
  }
}
/*# sourceMappingURL=media.css.map */